.sonar-pulse {
  animation: sonarPulse 2s infinite;
}
.sonar-pulse2 {
  animation: sonarPulse 2s infinite 0.5s;
}
.sonar-pulse3 {
  animation: sonarPulse 2s infinite 1s;
}
@keyframes sonarPulse {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }
  70% {
    opacity: 0.1;
    transform: scale(1.4);
  }
  100% {
    opacity: 0;
    transform: scale(1.7);
  }
}